/***************************************
   ====Settings for "about" page====
***************************************/

/* Main text */
p {
    background-color: #10111c;
    display: block;
    font-size: 20px;
    padding: 20px;
    margin: 10%;
    margin-top: 10px;
    outline: #afa3cc 2px solid;
}

/* Equation */
.eqn {
    background-color: #ded0ff;
}

/* Highlighted words in main text */
span {
    color:#f878be;
}

