@font-face {
    font-family: testFont;
    src: url(Retro-Gaming.ttf);
  }
  
  body {
    color:  #ded0ff; 
    background-color: #10111c;
    font-family: testFont;
    text-align:center
  }

  input, select, textarea {
    width : 100px;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
  }
  
  .menu {
    margin: 20px;
    background-color: #262331;
}

  button {
    font-family: inherit;
    font-size: 75%;
    padding: 0;
  }
  